{{define "header"}}
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start header sb-oculta-header">
    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
      <h3 style="color: #fff;">Gregorian</h3>
    </a>

    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
      <li class="d-flex flex-wrap align-items-center justify-content-center ">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </li>
    </ul>

    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
      <li class="d-flex flex-wrap align-items-center justify-content-center " >
        <a href="#" class="nav-link text-white d-flex flex-column align-items-center justify-content-center dropdown-toggle" data-bs-toggle="dropdown" id="dropdownUser1">
          <!-- <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(250,244,244,1)"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg>
          <div class="small text-secondary">
            {{.Nome}}
          </div>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Empresa</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
          </ul>
      </li>
    </ul>
  </div>
{{end}}